<body>
<div class="d-flex">
  <form class="d-flex">
    <input class="form-control me-2" type="search" placeholder="Buscar por Correo" aria-label="Search"
    name="filterEmpleados" [(ngModel)]="filterEmpleados">
         
  <button (click)="clickAddEmployee()" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
    class="btn btn-outline-success btn-sm">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
      class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
      <path
        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
    </svg>
    Empleado
  </button>
</form>
</div>
<table class="table mt-3">
  <thead>
    <tr class="table-primary">
      <th scope="col">ID Empleado</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido Paterno</th>
      <th scope="col">Apellido Materno</th>
      <th scope="col">Correo</th>
      <th scope="col">Permisos</th>
      <th scope="col">Accion</th>   
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of employeeData | 
    filter: filterEmpleados">
      <td>{{row.id}}</td>
      <td>{{row.Nombre}}</td>
      <td>{{row.ApellidoP}}</td>
      <td>{{row.ApellidoM}}</td>
      <td>{{row.Correo}}</td>
      <td>{{row.Permisos}}</td>
      <td>
        <button (click)="onEdit(row)" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
          class="btn btn-outline-info">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square"
            viewBox="0 0 16 16">
            <path
              d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
            <path fill-rule="evenodd"
              d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
          </svg>
        </button>
        <button (click)="BorrarEmpleados(row)" class="btn btn-outline-danger mx-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3"
            viewBox="0 0 16 16">
            <path
              d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
          </svg>
        </button>

      </td>

    </tr>
  </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detalles de Empleados</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue" >
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nombre</label>
            <input type="text" formControlName="Nombre" class="form-control" id="exampleInputEmail1"
              aria-describedby="emailHelp">
            <div *ngIf="Nombre?.invalid && (Nombre?.dirty || Nombre?.touched)" class="alert alert-danger">
              <div *ngIf="Nombre?.errors?.['required']">
                El Nombre es requerido
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Apellido Paterno</label>
            <input type="text" formControlName="ApellidoP" class="form-control" id="exampleInputPassword1">
          </div>
          <div *ngIf="ApellidoP?.invalid && (ApellidoP?.dirty || ApellidoP?.touched)" class="alert alert-danger">
            <div *ngIf="ApellidoP?.errors?.['required']">
              El Apellido Paterno es requerido
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Apellido Materno</label>
            <input type="text" formControlName="ApellidoM" class="form-control" id="exampleInputPassword1">
          </div>
          <div *ngIf="ApellidoM?.invalid && (ApellidoM?.dirty || ApellidoM?.touched)" class="alert alert-danger">
            <div *ngIf="ApellidoM?.errors?.['required']">
              El Apellido Materno es requerido
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Correo</label>
            <input type="email" formControlName="Correo" class="form-control" id="exampleInputPassword1"
              placeholder="name@example.com">
          </div>
          <div *ngIf="Correo?.invalid && (Correo?.dirty || Correo?.touched)" class="alert alert-danger">
            <div *ngIf="Correo?.errors?.['required']">
              El Correo es requerido
            </div>
            <div *ngIf="Correo?.errors?.['usernameUnico']">
              Ese Correo de usuario ya esta en uso
            </div>
          </div>
          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Permisos</label>
            <select class="form-select" id="inputGroupSelect01" formControlName="Permisos">
              <option value="Ventas">Ventas</option>
              <option value="Recursos Humanos">Recursos Humanos</option>
              <option value="Gerente">Gerente</option>
            </select>
            <div *ngIf="Permisos?.invalid && (Permisos?.dirty || Permisos?.touched)" class="alert alert-danger">
              <div *ngIf="Permisos?.errors?.['required']">
                Elige un tipo de permiso
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" *ngIf="showAdd" (click)="postEmployeeDetails()" class="btn btn-primary">Agregar</button>
        <button type="button" *ngIf="showUpdate" (click)="ActualizarEmpleadosDetalles()"
          class="btn btn-primary">Actualizar</button>
      </div>
    </div>
  </div>
</div>
</body>