<br>
<br>
<br>
<section class="content">
<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="/assets/Imagenes/sillon slide.jpg" alt="Random first slide" 
      style="
      width: 90%;
      position: relative;
      display: block;
      margin: auto;
      border-radius: 20px;"
      routerLink="usuarios"/>
    </div>
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    
    <div class="picsum-img-wrapper">
      <img src="/assets/Imagenes/sillon2 slide.jpg" alt="Random second slide" 
      style="
      width: 90%;
      position: relative;
      display: block;
      margin: auto;
      border-radius: 20px;">
    </div>
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="/assets/Imagenes/sillon3 slide.jpg" alt="Random third slide" 
      style="
      width: 90%;
      position: relative;
      display: block;
      margin: auto;
      border-radius: 20px;">
    </div>
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
</ngb-carousel>
<!-------------------------------------------------------------------------------------->
</section>
<aside>
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="/assets/Imagenes/sillon3 slide.jpg" alt="Random first slide" 
        style="
        width: 90%;
        height: 200px;
        position: relative;
        display: block;
        margin: auto;
        border-radius: 20px;"
        routerLink="usuarios"/>
      </div>
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      
      <div class="picsum-img-wrapper">
        <img src="/assets/Imagenes//sillon slide.jpg" alt="Random second slide" 
        style="
        width: 90%;
        height: 200px;
        position: relative;
        display: block;
        margin: auto;
        border-radius: 20px;">
      </div>
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="/assets/Imagenes/sillon2 slide.jpg" alt="Random third slide" 
        style="
        width: 90%;
        height: 200px;
        position: relative;
        display: block;
        margin: auto;
        border-radius: 20px;">
      </div>
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template>
  </ngb-carousel>
</aside>
<!-------------------------------------------------------------------------------------->
<aside>
  <br>
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="/assets/Imagenes/sillon2 slide.jpg" alt="Random first slide" 
        style="
        width: 90%;
        height: 200px;
        position: relative;
        display: block;
        margin: auto;
        border-radius: 20px;"
        routerLink="usuarios"/>
      </div>
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      
      <div class="picsum-img-wrapper">
        <img src="/assets/Imagenes/sillon3 slide.jpg" alt="Random second slide" 
        style="
        width: 90%;
        height: 200px;
        position: relative;
        display: block;
        margin: auto;
        border-radius: 20px;">
      </div>
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="/assets/Imagenes//sillon slide.jpg" alt="Random third slide" 
        style="
        width: 90%;
        height: 200px;
        position: relative;
        display: block;
        margin: auto;
        border-radius: 20px;">
      </div>
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template>
  </ngb-carousel>
</aside>